* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 2fr 3fr;

  font-family: "Monoserrat", sans-serif;
  min-height: 100vh;
}

.img-container {
  background: url(form-background.jpg);
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
}

.odin-logo {
  width: 150px;
  height: 200px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.logo-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 6rem;
}

/* Right side */
.text-container {
  margin-top: 5rem;
  margin-right: 4rem;
  margin-left: 2rem;
}

h2 {
  padding: 1rem 0;
}

.description {
  margin: 2rem 0;
}

span {
  font-style: italic;
}

form {
  background-color: whitesmoke;
  padding: 0 2rem;
}

label {
  padding-bottom: 0.3rem;
  letter-spacing: 1px;
}

input {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.name-container,
.email-phone,
.password-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.container-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}

.bottom-container {
  margin: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #596d48;
  color: white;
  margin-bottom: 1rem;
}

.log-in {
  display: flex;
  gap: 0.5rem;
}

.log-in a {
  color: #596d48;
  font-weight: 600;
  text-decoration: none;
}

input[type="password"]:invalid {
  border: 1px solid red;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}
