* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 5rem;
  font-family: "Monoserrat", sans-serif;
  min-height: 100vh;
}

.img-container {
  background: url(form-background.jpg);
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
}

.odin-logo {
  width: 150px;
  height: 200px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.logo-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 6rem;
}
